[Desktop Entry]
Name=System Update
Comment=Update your system
Exec=ublue-updater
Icon=system-software-update-symbolic
Type=Application
Terminal=false
Categories=Utility
