[Desktop Entry]
Name=System Update
Comment=Update your system
Exec=ublue-updater
Icon=system-software-update-symbolic
Terminal=false
Type=Application
Categories=Qt;KDE;System;
StartupNotify=true
