[Desktop Entry]
Name=System Update
Comment=Update your system
Exec=ublue-updater
Icon=io.github.rfrench3.ublue-updater
Terminal=false
Type=Application
Categories=System;
StartupNotify=true
