[Desktop Entry]
Name=pyside6-flatpak-template
Comment=template for a pyside6 flatpak
Exec=pyside6apptemplate
Icon=io.github.rfrench3.pyside6-flatpak-template
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
